/* ------------ GOOGLE FONTS ------------ */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&family=Open+Sans&family=Tiro+Kannada&display=swap');
*{
    margin: 0;
    padding: 0;

    font-family: 'Open Sans', sans-serif;

    box-sizing: border-box;

}
html{
    scroll-behavior: smooth;
}
body{
    background: #080808;
    color:#fff;
}
.header{
    min-height:100vh;
    width:100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(./Images/hostel_img3.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}


/* -------- */
navbar {
    /* font-size: 16px;  */
    height: 38px;
    color: white;
    width: 1100px;
    margin: 0px auto;
    /* padding: 17px 0px; */
    display: flex;
    justify-content: space-between;
    /* align-items: center;   */
    margin-bottom: 4rem;
  }
  
  .nav {
    margin-top: 40px;
    display: flex;
    gap: 1.8rem;
  position: absolute;
  right: 0;}
  .nav2
  {
    margin-top: 40px;
    visibility: hidden;
    position: absolute;
    right :0;
  }
  
  .navlink { 
    box-shadow: inset 2 0 0 0 #54b3d6;
    text-decoration: none;
    color: rgb(255, 255, 255);
  }
  .navlinka{

    font-size: larger;
    cursor: pointer;
  }
  .navlink:hover
  {
    color: rgb(92, 100, 219);
  }
  


/* --------- */
nav{
    display: flex;
    padding: 0px;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width:150px;
}
.nav-links{
    flex:1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display:inline-block;
    padding: 8px 12px;
    /* margin-top: 10px; */
    padding: relative;
}
.nav-links ul li a{
    color:aliceblue;
    text-decoration: none;
    font-size: 18px;
}  
.nav-links ul li::after{
    content:'';
    width:0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
} 
.nav-links ul li:hover::after{
    width:100%;
}
.text-box{
    width:90%;
    color:#fff;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1 {
    font-size: 60px;
    margin-top: 60px;
    margin-bottom: 60px;
  }
  .text-box h2{
    /* margin: 10px 0 40px; */
    font-size: 25px;
    color: #fff;
    text-align: center;
    margin-top: 60px;
}
.text-box p{
    margin: 10px;
    font-size: 25px;
    color: #fff;
    text-align: center;
    /* margin-top: 10px; */
}
.applyingmargin{
    margin-top: 150px;
}
.hero-btn
{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
    border: 1px solid #f44336;
    background: #f44336;
    transform: 1s;
}
nav.fa{
    display:none;
}

/* @media(max-width:700px){
    .text-box h1{
        font-size: 20px;
    }
    .nav-links ul li{
        display: block;
    } 
    .nav-links{
        position:absolute;
        background: blue;
        height:100vh;
        width:200px;
        top:0;
        right:0;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav.fa{
        display: block;
        color:#fff;
        margin:10px;
        font-size: 22px;
        cursor: pointer;
    }  
    .nav-links ul{
        padding: 30px;

    }
} */

/* --------login and signup------ */

 .extra
{
position: fixed;
    top:0%;
    right :0;
    width: 100%;
    height:1200px;
    background-color:rgba(0, 0, 0, 0.45);
    transition: opacity 500ms;
    border-radius: 12px;
    z-index: 999;
    visibility: hidden;
    display: flex;
}

.extra1 {
  position: fixed;
  top: 0%;
  right: 0;
  width: 100%;
  height: 100%;
  background-image: url("./backgroundlogin.jpg");
  opacity: unset;
    overflow: hidden;
}

 .overlay {
    
        height: 368px;
        margin: auto;
          margin-top: auto;
        margin-top: 51px;
        width: 450px;
        background-color: rgba(197, 74, 74, 0.652);
        transition: opacity 500ms;
        border-radius: 23px;
        border: 1px solid black;
        color: black;
      }
  
  .overlay h1{
      text-align: center;
      height: 30px;
      color: black;
  }
  
  overlay form {
    padding: 0 40px;
    box-sizing: border-box;
    margin-top: 42px;
  }
  form .text_field {
    position: relative;
    border-bottom: 2px solid black;
    margin: 20px 0px;
      margin-top: 20px;
    padding-left: 10px;
    font-size: 36px;
    margin-left: 28px;
    margin-right: 39px;
    margin-top: 24px;
    color: black;
  } 
   .text_field input {  
  background-color: transparent;
  width: 298px;
  padding: 6px 0px;
    padding-right: 0px;
    padding-left: 0px;
  border-radius: -93px;
  height: 4px;
  border: none;
  padding-left: 2px;
  padding-right: 37px;
  margin-top: 26px;
  font-size: 18px;
  color: black;
}
  
  
  .text_field input:focus{
      border:none;
      outline:none;
  }
  form .select,.forgotpassword{
      margin: 12px 0px;
      display: flex;
  }
  .admin_type{
      margin-right: 34px;
  }
  .submit {
    border: none;
    text-align: center;
    font-size: 18px;
    padding: 13px;
    margin: 19px;
    margin-left: 182px;
    text-transform: uppercase;
    border: 2px solid #00041a;
    border-radius: 14px;
    color: black;
  }
  .submit:hover{
      color:white;
      background-color: rgba(22, 1, 205, 0.85);
      border-radius: 4px;
      font-size: 20px;
      transition: 0.2s ;
    border:none;
  }
  
  .signup{
      text-align: center;
      margin-bottom: 15px;
      color: black;
  }
  .closebtn {
      height: 50px;
      width: 50px;
      outline: none;
      background :transparent;
      border: none;
      position: relative;
      left: 90%;
      font-size: 40px;
  }
  .bi-x{
  color:white;}
  .closebtn:focus{
  outline: none;
      background: transparent;
      border: none;
  } 
  
.container{
    padding: 10px 10%;
} 
 



/* --------admission--------- */
#admission{
    padding: 50px 0;
    color:#ababab;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 35%;
    margin-top: 120px;
}
.about-col-1 img{
    width:100%;
    border-radius: 15px;
}

.about-col-2{
    flex-basis: 60%;
}    
   
.sub-title{
    font-size: 40;
    font-weight: 600;
    color:white;
    margin-bottom: 20px;
    text-align: center;
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}

.tab-links{
    margin-right: 50px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content:' ';
    width:0;
    height:3px;
    background:#ff004f;
    position: absolute;
    left:0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after{
   width:50%;
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span{
    color:#b54769;
    font-size: 14px;
}

.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display:block;
}

 /* --------services--------- */
 #services{
    padding: 30px 0;
 }
 .services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap:40px;
    margin-top: 50px;
 }
 .services-list div{
    background:#262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s,transform 0.5s;
 }
 .services-list div i{
    font-size: 40px;
    margin-bottom: 10px;
    margin-top: 10px;

 }
 .services-list div h2{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 15px; 
 }
 .services-list div a{
   text-decoration: none;
   color:blue;
   font-size: 12px;
   margin-top: 20px;
   display: inline-block;
 }
 .services-list div:hover{
    background: #ff004f;
    transform: translateY(-10px);
 }

 /* -------events------- */
 #events{
    padding:50px 0;
 }
 .work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap:40px;
    margin-top: 50px;
 }
 .work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
 }
 .work img{
    width:100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
    height: 300px;
 }
 .layer{
    width:100%;
    height:0;
    background: linear-gradient(rgba(0,0,0,0.6),#ff004f);
    border-radius: 10px;
    position: absolute;
    left:0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
 }
 .layer h3{
    font-weight:500;
    margin-bottom: 20px;
 }
 .layer a{
    margin-top: 20px;
    color: #ff004f;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width:60px;
    height:60px;
    border-radius: 50%;
    text-align: center;
 }
 .work:hover img{
    transform: scale(1.1);
 }
 .work:hover .layer{
    height:100%;
 }
 .btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    border-radius: 6px;
    text-decoration: none;
    color:white;
    transition: background 0.5s;
 }
 .btn:hover{
    background: #ff004f;

 }
 /* -------contact----- */
 #contact{
    margin-top: 50px;
 }
 .contact-left{
    flex-basis: 35%;
 }
 .contact-right{
    flex-basis: 60%;
 }
 .contact-left p{
    margin-top: 30px;
 }
 .contact-left p i{
    color:#ff004f;
    margin-right: 15px;
    font-size: 25px;
 }
 .social-icons{
    margin-top: 30px; 
 }
 .social-icons a{
    text-decoration: none;
    font-size:30px;
    margin-right: 15px;
    color:#ababab;
    display: inline-block;
    transition: transform 0.5s;

 }
 .social-icons a:hover{
    color:#ff004f;
    transform: translateY(-5px);
 }
 .btn.btn2 {
    display: inline-block;
    background: #ff004f;
    padding: 6px;
    font-size: 20px;
}
 .contact-right form{
    width: 100%;
 }
 form input, form textarea{
   width:100%;
   border:0;
   outline:none;
   background: #262626;
   padding: 15px;
   margin: 15px 0;
   color:#fff;
   font-size: 18px;
   border-radius: 6px;
 }
 form .btn2{
    padding: 14px 16px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
 }
 .copyright{
    width:100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    margin-top: 20px;
    font-weight: 300;
 }
 .copyright i{
    color:#ff004f;
 }
 
 /* -------css for small screens---- */
.navbar .fa-solid{
    display: none;
 }
 @media only screen and (max-width:600px)
 {
    #header{ 
         background-image: url(./Images/hostel-img.jpg);
    
    }
    .header-text{
        margin-top: 100%;
        font-size: 16px;
    }
    .header-text h1{
        font-size:30px;
    }
    .text-box h1{
        font-size: 20px;
    }
    .nav-links ul li{
        display: block;
    } 
    .navbar .fa-solid{
        display: block;
        font-size: 25px;
     }
     .navbar ul{
        background:#171859;
        position: fixed;
        top: 0;
        right: -200px;
        width:200px;
        height:100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
     }
     .navbar ul li{
        display: block;
        margin: 5px;
     }
     .navbar ul .fa-solid{
        position: absolute;
        top:25px;
        left:25px;
        cursor: pointer;
        display:block;
    }
    .sub-title{
        font-size: 25px;
        text-align: center;
    }
    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-bottom: 30px;
    }
    .about-col-2{
        font-size: 14px;
    }
    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }
    .contact-left, .contact-right{
        flex-basis: 100%;
    }
    .copyright{
        font-size: 14px;
    }
 }

#msg{
    color:#61b752;
    margin-top: -40px;
    display: block;
}



/* --------login and signup------ */

 .extra
{
position: fixed;
    top:0%;
    right :0;
    /* transform: translate(-50%, -50%); */
    width: 100%;
    height:1200px;
    background-color:rgba(0, 0, 0, 0.45);
    transition: opacity 500ms;
    border-radius: 12px;
    z-index: 999;
    visibility: hidden;
    display: flex;
}

.extra1 {
  position: fixed;
  top: 0%;
  right: 0;
  /* transform: translate(-50%, -50%); */
  width: 100%;
  height: 100%;
  /* background-color: #62aec5; */
  background-image: url("./backgroundlogin.jpg");
  opacity: unset;
    overflow: hidden;
}

.overlay {
    
        height: 368px;
        margin: auto;
          margin-top: auto;
        margin-top: 51px;
        width: 450px;
        background-color: rgb(255,255,255,0.5);
        transition: opacity 500ms;
        border-radius: 23px;
        border: 1px solid black;
      }
  
  .overlay h1{
      text-align: center;
      height: 30px;
  }
  
  overlay form {
    padding: 0 40px;
    box-sizing: border-box;
    margin-top: 42px;
  }
  form .text_field {
    position: relative;
    border-bottom: 2px solid black;
    margin: 20px 0px;
      margin-top: 20px;
    padding-left: 10px;
    font-size: 36px;
    margin-left: 28px;
    margin-right: 39px;
    margin-top: 24px;
  }
  .text_field input {
    /* background-color: transparent;
    width: 298px;
    padding: 6px 0px;
    border-radius: 4px;
    height: 23px;
    border: none; */
  
  background-color: transparent;
  width: 298px;
  padding: 6px 0px;
    padding-right: 0px;
    padding-left: 0px;
  border-radius: -93px;
  height: 4px;
  border: none;
  padding-left: 2px;
  padding-right: 37px;
  margin-top: 26px;
  font-size: 18px;
}
  
  
  .text_field input:focus{
      border:none;
      outline:none;
  }
  form .select,.forgotpassword{
      margin: 12px 0px;
      display: flex;
  }
  .admin_type{
      margin-right: 34px;
  }
  .submit {
    border: none;
    text-align: center;
    font-size: 18px;
    padding: 13px;
    margin: 19px;
    margin-left: 182px;
    text-transform: uppercase;
    border: 2px solid #00041a;
    border-radius: 14px;
  }
  .submit:hover{
      color:white;
      background-color: rgba(22, 1, 205, 0.85);
      border-radius: 4px;
      font-size: 20px;
      transition: 0.2s ;
    border:none;
  }
  
  .signup{
      text-align: center;
      margin-bottom: 15px;
  }
  .closebtn {
      height: 50px;
      width: 50px;
      outline: none;
      background :transparent;
      border: none;
      position: relative;
      /* top:20px; */
      left: 90%;
      font-size: 40px;
  }
  .bi-x{
  color:white;}
  .closebtn:focus{
  outline: none;
      background: transparent;
      border: none;
  } 
  